{% extends "layout.html" %} {% block body %}
    <div class=" d-flex justify-content-center " style="margin-top: 15rem">
        <div class="content-section  w-50">
            <form method="POST" action="{{ url_for("users.forget_password") }}">
                <fieldset class="form-group">
                    <div class="form-group mt-2 d-flex flex-column">
                        <label class="form-control-label" for="email">Enter you email. We'll sent a code to your email
                        </label>
                        <input required id="email" type="email" class="form-control form-control-lg mt-2" name="email">
                    </div>
                </fieldset>
                <div class="form-group  mt-4  d-flex justify-content-sm-center">
                    <button class="btn btn-primary btn-lg w-25
                ">
                        Go!!
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}